
legend h3
{
    color: white;
}

form
{
    color: white;
    margin: auto;
    background: transparent;
    border-radius: 5px;    
 } 
body
{
    background-image:url(Adobe_Express_20220520_1020230.5326652664655289.png);
}


